<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ols.sitecare">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splashscreen"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginForm"
            android:screenOrientation="portrait"
            />
        <activity android:name=".EngineerDetail"
            android:screenOrientation="portrait"
            />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".MainActivity_Button"
            android:screenOrientation="portrait"
            />
        <activity android:name=".SiteDetail"
            android:screenOrientation="portrait"
            />

        <activity android:name=".Tech_Grid"
            android:screenOrientation="portrait"
            />

        <activity android:name=".Tech_AdditionalLoads"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Tech_Battery"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Tech_Cooling"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Tech_DCPower"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Tech_DWDM"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Tech_Earthing"
        android:screenOrientation="portrait"
        />

        <activity android:name=".Tech_Gpon"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Tech_IP"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Tech_Microwave"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Tech_Midi"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Tech_Mpls"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Tech_RAN"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Tech_SuperWifi"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Tech_Vsat"
            android:screenOrientation="portrait"
            />

        <activity android:name=".Tech_Generators"
            android:screenOrientation="portrait"
            />

        <activity android:name=".Tech_Generators_Detail_1_Controller"
            android:screenOrientation="portrait"
            />

        <activity android:name=".Tech_Generators_Detail_2_General"
            android:screenOrientation="portrait"
            />

    </application>

</manifest>
